<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>TCF LIST</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row class="ion-padding buttonPosition">
    <ion-button size="small" (click)="gotoaddtcfpage()">NEW TCF</ion-button>
  </ion-row>
  <ion-card class="cardborder">
    <ion-grid>
      <ion-segment  value="self">
        <ion-segment-button value="self">
          <ion-label>SELF</ion-label>
        </ion-segment-button>
        <ion-segment-button value="team">
          <ion-label>TEAM</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-grid>
    <ion-row class="ion-padding">
      <ion-item class="dateItemList">
        <ion-col size="2">
          <ion-icon lines="none" detail="false" name="calendar" class="icon" (click)="openTimePicker()"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <ion-input readonly placeholder="Select Time" (click)="openTimePicker()"
            [value]="selectedTime ? (selectedTime | date: 'shortTime') : ''">
          </ion-input>
        </ion-col>
      </ion-item>
      <ion-item class="dateItemList">
        <ion-col size="8">
          <ion-select label="Floating label" label-placement="floating" class="borderright">
            <ion-select-option value="apple">Apple</ion-select-option>
            <ion-select-option value="banana">Banana</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="4">
          <ion-input placeholder="Search"></ion-input>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-modal [isOpen]="isTimePickerOpen" (ionModalDidDismiss)="closeTimePicker()">
      <ng-template>
        <ion-content>
          <ion-datetime presentation="time" [(ngModel)]="selectedTime" (ionChange)="timeChanged($event)">
          </ion-datetime>
          <ion-button (click)="closeTimePicker()">Done</ion-button>
          <ion-button color="danger" (click)="clearTime()">Clear</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-card>
  <ion-card class="cardborder">
    <ion-grid>
      <ion-row class="borderbottom">
        <ion-col size="6" class="borderright"> 
          <p class="sub-content-css valuePosition">TCF-20240517-0004</p>
          </ion-col>
          <ion-col size="6" class="colrightvalue"> 
            <p class="namefont">NET REVENUE</p>
            <p class="namefont">10000</p>
            <p class="namefont">MONTH</p>
          </ion-col>
          </ion-row>
      <ion-row>
        <ion-col size="12">                   
            <p class="sub-content-css">
              Project: Lake View City
            </p>
            <p class="sub-content-css">
              Coustomer Name: Satish </p>
            <p class="sub-content-css">
              Share: 100 </p>
            <p class="sub-content-css">
              Share Holder: Kanapuram
            </p>          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>