<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>ADD TCF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>TCT-10201</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-input label="Segment *" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Channel *" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="Currency" label-placement="floating">
            <ion-select-option value="INR">INR</ion-select-option>
            <ion-select-option value="USD">USD</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input type="date" label="Cool of End Date" labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Property" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="date" label="Disclosed Date" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Client access" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Initial payment Verified" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-row class="ion-padding buttonPosition">
        <ion-button size="small">Save & Next</ion-button>
      </ion-row>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>